/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.docker
.phpactor.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
docker-compose.yml
Docker.md
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/uploads
/DEPLOY.md
*.log
*.key
*.pem
/storage/logs/*